<ion-side-menus>
    
    <ion-side-menu-content>
        <ion-nav-view></ion-nav-view>    
    </ion-side-menu-content>
    
    <ion-side-menu side="left">
       <ion-header-bar class="bar-stable">
          <h1 class="title">Categories</h1>   
        </ion-header-bar> 
            <ion-content>
                <ion-list>
                    <ion-item menu-close ng-repeat="category in categories""  href="#/main/contentByCategory/{{category.id}}">
                        <span>{{category.title}} </span><span class="badge badge-assertive">{{category.post_count}}</span>
                </ion-list>
            </ion-content>    
            
       
        </ion-side-menu>
</ion-side-menus>
    